
#video {
    display: block;
    /* width: 95%; */
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#intro {
    font-family: 'Rouge Script', cursive;
    font-size: 35px;
    margin: 5% 10%;
    text-align:center; 
}

*{
    margin:0;
    padding:0;
    text-decoration:none;
   }
   
   .s-m{
    position:absolute;
    top:7%;
    left:50%;
    transform:translate(-50%,-50%);
   }
   
   .s-m a{
    display:inline-flex;
    width:40px;
    height:40px;
    background:#2c3e50;
    color:white;
    margin:0 6px;
    border-radius:50%;
    justify-content:center;
    align-items:center;
    transition:0.4s;
    font-size:22px;
   }
   
   .s-m a:hover{
    background:#e67e22;
   }
   
   .s-m a i{
    transition:0.2s all;
   }
   
   .s-m a:hover > i{
    transform:scale(1.2) rotate(25deg);
   }